[database]
# Path to the database. In theory this shouldn't be limited to SQLite, but 
# it hasn't been tested yet.
# Default: sqlite:///_temp_.db
uri=sqlite:///bibim.db

[search]
# Query length in words.
# Default: {6,10}
min_query_length=6
max_query_length=10

# The first queries that can be constructed usually are titles and authors. If
# we want to search with queries from the abstract, this value should be
# greater than 1.
# Default: 3
queries_to_skip=3

# Maximum number of queries that will be tried.
# Default: 5
max_queries_to_try=5

# Defines how many results a query must have to discard it. 
# Default: 25
too_many_results=25

# Search engine that will be used to execute the search.
#    GOOGLE:    0
#    SCHOLAR:   1
#    BING:      2
#    YAHOO:     3
# Default: 0
engine=0

# This option allows you to omit some of the results depending on the page.
# For example, using Bing, one of the top results is MS Academic Search, which
# at the moment, is out of date and does not contain much information. 
# Thus, we want to skip that result.
# Put each page in a new line.
black_list = http://academic.research.microsoft.com

[wrappers]
#### Wrapper usage
max_wrappers=50

# This option allows the user to define how the different fields should be
# validated. Format is as follows:
#   <field_name> <weight> <validator> [<validator init params>]
field_validation=
    title;   0.6; WithinTextValidator              
    year;    0.1; RegexValidator;       (\d{4})
    pages;   0.1; RegexValidator;       .*(\d*).*(\d*).*
    volume;  0.0; RegexValidator;       (\d{1,3})

#### Wrapper induction
# Minimum validity of a reference in order to use it as an example when 
# inducing new wrappers 
min_validity=0.7

# Number of examples that will be used to generate a wrapper
wrapper_gen_examples=2
# Limits the number of examples that can be used
max_examples=5
# Numer of seconds to wait between requests to the webpage to retrieve the 
# examples' content. 
# So the problem is that multiple requests in a row to the same server can
# block us. In order to avoid that, we wait a short period of time between
# requests
seconds_between_requests=5.0

# Maximum number of examples to retrieve from the database quen inducing new
# wrappers. This allows to speed up the process
max_examples_from_db=15

